* {
  box-sizing: inherit;
}

div.break {
  flex-basis: 100%;
  max-height: 0x;
}

div.container {
  font-size: 2em;
  background-color: red;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

div.container div.label {
  text-wrap: nowrap;
  padding: 0px 3px;
}

div.container p {
  margin: 3px 0px;
  padding: 0px 3px;
}

div.inputContainer {
  margin: 3px 0px;
}

div.container input {
  font-size: 1em;
  --margin: 5px;
  margin: var(--margin);
  max-width: calc(100vw - 2 * var(--margin));
}